<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fabric.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fabricjs_viewport.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css')}}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div id="canvas_block"> 
        <canvas id="c"></canvas>
      </div>

      <div id="button_block" class="text-center">
        <h3 class='btn-label'>Download</h2>
        <div class="btn-group" class="center-block">
          <a href="" id="link" download="test.svg">
            <button type="button" class="btn btn-default" role="group">Download SVG</button>
          </a>
          <form action="{{ url_for('render_JSON_A')}}" method=post>
            <input type=hidden name="json_data" value="" id="hidden_data">
            <input type=submit id="submit_button" class="btn btn-default" role="group" value="Download STL">
          </form>
        </div>
        <h3 class='btn-label'>Select Active Layer</h2>
        <div class="btn-group btn-group-vertical" id="layer_buttons">
        </div>

        <h3 class='btn-label'>Open Examples</h2>
        <div class="btn-group btn-group-vertical" id="example_buttons">
          <button type="button" id="ex_0" class='btn btn-default'>transposer_tiny</button>
          <button type="button" id="ex_1" class='btn btn-default'>transposer_small</button>
          <button type="button" id="ex_2" class='btn btn-default'>transposer_medium</button>
          <button type="button" id="ex_3" class='btn btn-default'>transposer_large</button>
          <button type="button" id="ex_4" class='btn btn-default'>transposer_large_MOD</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
    var load_example = function(url)
    {
      request = new XMLHttpRequest();
      request.open('GET', url, true);

      request.onload = function() {
        if (request.status >= 200 && request.status < 400){
          // Success!
          import_json(JSON.parse(request.responseText));
        } else {
          // We reached our target server, but it returned an error
        }
      };
    

      request.onerror = function() {
        // There was a connection error of some sort
      };

    request.send();
    }

    document.getElementById("ex_0").onclick = function()
    {
      load_example("{{ url_for('static', filename='examples/transposer_tiny.json')}}");
    }
    document.getElementById("ex_1").onclick = function()
    {
      load_example("{{ url_for('static', filename='examples/transposer_small.json')}}");
    }

    document.getElementById("ex_2").onclick = function()
    {
      load_example("{{ url_for('static', filename='examples/transposer_med.json')}}");
    }

    document.getElementById("ex_3").onclick = function()
    {
      load_example("{{ url_for('static', filename='examples/transposer_large.json')}}");
    }
    document.getElementById("ex_3").onclick = function()
    {
      load_example("{{ url_for('static', filename='examples/transposer_large_MOD.json')}}");
    }

</script>

 <script src="{{ url_for('static', filename='js/uFabApp.js')}}"></script>

 <script>//load_example("{{ url_for('static', filename='examples/transposer_large_MOD.json')}}");</script>

 <script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.
    var target = files[0];
    var reader = new FileReader();

    reader.onload = (function(theFile)
    {
      return function(e)
      {
        var json_data = JSON.parse(e.target.result);
        import_json(json_data);
      };
    })(target);
    reader.readAsText(target);
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('canvas_block');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
</script>