<script src="{{ url_for('static', filename='fabric.js')}}"></script>

<div class="block">
  <canvas id="c" width="800" height="600"></canvas>
  <a href="" id="link" download="test.JSON">
    <button type="button">woo!</button>
  </a>

    <a href="" id="link2" download="fabric_demo.JSON">
    <button type="button">fabric json!</button>
  </a>

  <form action="{{ url_for('render_JSON_A')}}" method=post>
    <input type=hidden name="json_data" value="" id="hidden_data">
    <input type=submit id="submit_button" value="Download STL">
  </form>

<script>

    document.getElementById('link').onclick = function(code) {
      this.href = 'data:text/plain;charset=utf-8,'
        + encodeURIComponent(JSON.stringify(canvas));
    };

        document.getElementById('link2').onclick = function(code) {
      this.href = 'data:text/plain;charset=utf-8,'
        + encodeURIComponent(JSON.stringify(makeJSON()));
    };

    document.getElementById('submit_button').onclick = function(code) {
      json = makeJSON();
      document.getElementById('hidden_data').value = JSON.stringify(json);
    };
</script>

 <script src="{{ url_for('static', filename='fabric_demo.js')}}"></script>
</div>