__pycache__/
*.py[cod]
*.stl

coverage/
node_modules/
dist/

old/*output
old/*.scad
*.log

.idea/
*tmp-browserify*

3DuFapp.js
publish.sh

docs/
build/*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
