#resolution-toolbar{
    align-content: center;
    position: absolute;
    width: 500px;
    height: 120px;
    top: 10px;
    right:100px;
    background-color: rgb(250, 250, 250);
    z-index: 9;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.36);
    transition: all .4s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-botton: 5px;
    opacity: 0.9;
    border-radius: 5px;
}

#zoom-toolbar{
    align-content: center;
    position: absolute;
    /*width: 100px;*/
    height: 30%;
    top: 100px;
    right: 30px;
    /*background-color: rgb(250, 250, 250);*/
    z-index: 9;
    transition: all .4s;
    padding-top: 25px;
    padding-botton: 25px;
    /*opacity: 0.9;*/
    border-radius: 5px;
}

#toolbar-button-panel{
    position: absolute;
    top: 10px;
    right:10px;
    z-index: 9;

}

.showtoolbar{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
}

.hidetoolbar{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: hidden;
}

.collapse{
    display: none;
}
