#button_block {
	background: #d8d8d8;
	z-index: 2;
	text-align: center;
	min-height: 100%;
}

#canvas_block {
	min-height: 100%;
}

#c {
	width: 100%;
	z-index: 1;
	height: 100%;
}

.logo {
	max-width: 100%;
}

#main_grid {
	height: 100%;
	min-height: 100%;
}